{% extends "_layouts/base.twig" %}

{% set title = 'Agency Config' %}
{% set criticalCss = 'dist/critical-index.css' %}

{% block main %}

    <!-- A Vue container -->
    <div id="app"></div>

    <!-- Display icon from the icon sprite -->
    <a href="/about" class="icon">
        <svg><use xlink:href="#icon-example" /></svg>
    </a>

{% endblock main %}