{% extends "_layouts/base.twig" %}

{% set title = 'Agency Config' %}

{% block main %}

    <!-- Display icon from the icon sprite -->
    <a class="icon" href="/blog">
        <svg><use xlink:href="#icon-example"/></svg>
    </a>
    <!-- A Vue container -->
    <div id="app"></div>

{% endblock main %}
