body {
    background: #3064FA;
    color: white;
    font-size: 10em;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
}

.icon {
    display: inline-block;
    fill: none;
    stroke: currentColor;
    vertical-align: middle;
    svg {
        width: 1em;
        height: 1em;
        display: block;
    }
}

.icon {
    animation: breathe 1s infinite alternate ease-in-out;
}
@keyframes breathe {
    to {
        transform: scale(1.25);
    }
}