// Styles for the demo

body {
    background: #3064fa;
    color: white;
    font-size: 10em;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
}

// The '$isDev' variable comes from webpack.mix.js
@if ($isDev) {
    body:before {
        content: "dev";
        background-color: black;
        position: absolute;
        left: 1em;
        top: 0;
        border-radius: 0 0 3px 3px;
        padding: 0.1em 0.4em;
        font-size: 12px;
        opacity: 0.7;
    }
}

// Use these styles with every icon
.icon {
    color: inherit;
    display: inline-block;
    fill: none;
    stroke: currentColor;
    vertical-align: middle;

    svg {
        width: 1em;
        height: 1em;
        display: block;
    }
}

.icon {
    animation: breathe 1s infinite alternate ease-in-out;

    &:hover,
    &:focus {
        animation-play-state: paused;
    }
}

@keyframes breathe {
    to {
        transform: scale(0.75);
    }
}
