<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ title|default('No title') }}</title>

    <!-- Styles will be automatically added here -->
</head>

<!-- The data attribute for the async icon sprite -->
<body data-icons="/dist/sprite.svg">

    {% block main %}{% endblock %}

    <!-- Scripts will be automatically added here -->
</body>

</html>