<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ title|default('No title') }}</title>

    <!-- Your styles will be injected here -->
</head>

<!-- Data attribute for the async icon sprite -->
<body data-icons="dist/sprite.svg">

    {% block main %}{% endblock %}

    <!-- Your scripts will be injected here -->
</body>

</html>